* {
    padding: 0;
    margin: 0;
}
.box {
    width: 100%;
    height: 100%;
}
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.j-c {
    justify-content: center;
}

.j-b {
    justify-content: space-between;
}

.j-a {
    justify-content: space-around;
}
.j-e {
    justify-content: end;
}
.a-c {
    align-items: center;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute; 
}
.br{
    border-radius:50%;
}
.cf{
    color: fff;
}
.bf{
  background-color: #fff;
}
.f12{
    font-size: 12px;
}
.f14{
    font-size: 14px;
}
.f18{
    font-size: 18px;
}
.f20{
    font-size: 20px;
}
.f22{
    font-size: 22px;
}
.f24{
    font-size: 24px;
}
.f30{
    font-size: 30px;
}
.f600{
    font-weight: 600;
}
.f700{
    font-weight: 700;
}
.m10{
    margin: 10px;
}
.mlr10{
    margin: 0px 10px;
}
.mtb10{
    margin: 10px 0px;
}
.mt10{
    margin-top: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.ml10{
    margin-left: 10px;  
}
.mr10{
  margin-right: 10px;
}

.m5{
    margin: 5px;
}
.mlr5{
    margin: 0px 5px;
}
.mtb5{
    margin: 5px 0px;
}
.mt5{
    margin-top: 5px;
}
.mb5{
    margin-bottom: 5px;
}
.ml5{
    margin-left: 5px;  
}
.mr5{
  margin-right: 5px;
}


