* {
    padding: 0;
    margin: 0;
}
.box {
    width: 100%;
    height: 100%;
}
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}
.flex {
    display: flex;
}
.flex1{
    flex: 1;
}
.flex2{
    flex: 2;
}
.column {
    flex-direction: column;
}

.j-c {
    justify-content: center;
}

.j-b {
    justify-content: space-between;
}

.j-a {
    justify-content: space-around;
}
.j-e {
    justify-content: end;
}
.a-c {
    align-items: center;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute; 
}
.br{
    border-radius:50%;
}
.cf{
    color: #fff;
}
.bf{
  background-color: #fff;
}
.f12{
    font-size: 12px;
}
.f14{
    font-size: 14px;
}
.f18{
    font-size: 18px;
}
.f20{
    font-size: 20px;
}
.f22{
    font-size: 22px;
}
.f24{
    font-size: 24px;
}
.f30{
    font-size: 30px;
}
.f600{
    font-weight: 600;
}
.f700{
    font-weight: 700;
}

.m5{
    margin: 5px;
}
.mlr5{
    margin: 0px 5px;
}
.mtb5{
    margin: 5px 0px;
}
.mt5{
    margin-top: 5px;
}
.mb5{
    margin-bottom: 5px;
}
.ml5{
    margin-left: 5px;  
}
.mr5{
  margin-right: 5px;
}

.m10{
    margin: 10px;
}
.mlr10{
    margin: 0px 10px;
}
.mtb10{
    margin: 10px 0px;
}
.mt10{
    margin-top: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.ml10{
    margin-left: 10px;  
}
.mr10{
  margin-right: 10px;
}


.m15{
    margin: 15px;
}
.mlr15{
    margin: 0px 15px;
}
.mtb15{
    margin: 15px 0px;
}
.mt15{
    margin-top: 15px;
}
.mb15{
    margin-bottom: 15px;
}
.ml15{
    margin-left: 15px;  
}
.mr15{
  margin-right: 15px;
}

.m20{
    margin: 20px;
}
.mlr20{
    margin: 0px 20px;
}
.mtb20{
    margin: 20px 0px;
}
.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}
.ml20{
    margin-left: 20px;  
}
.mr20{
  margin-right: 20px;
}

.m30{
    margin: 30px;
}
.mlr30{
    margin: 0px 30px;
}
.mtb30{
    margin: 30px 0px;
}
.mt30{
    margin-top: 30px;
}
.mb30{
    margin-bottom: 30px;
}
.ml30{
    margin-left: 30px;  
}
.mr30{
  margin-right: 30px;
}

.m50{
    margin: 50px;
}
.mlr50{
    margin: 0px 50px;
}
.mtb50{
    margin: 50px 0px;
}
.mt50{
    margin-top: 50px;
}
.mb50{
    margin-bottom: 50px;
}
.ml50{
    margin-left: 50px;  
}
.mr50{
  margin-right: 50px;
}

.p5{
    padding: 5px;
}
.plr5{
    padding: 0 5px;
}
.ptb5{
    padding: 5px 0;
}
.pl5{
padding-left: 5px;
}
.pr5{
    padding-right: 5px;
}





